sdkman_auto_answer={{ sdkman_auto_answer | lower }}
sdkman_selfupdate_enable={{ sdkman_selfupdate_enable | lower}}
sdkman_insecure_ssl={{ sdkman_insecure_ssl | lower }}
sdkman_disable_gvm_alias={{ sdkman_disable_gvm_alias | lower }}
sdkman_curl_connect_timeout={{ sdkman_curl_connect_timeout }}
sdkman_curl_max_time={{ sdkman_curl_max_time }}
sdkman_beta_channel={{ sdkman_beta_channel | lower }}
sdkman_debug_mode={{ sdkman_debug_mode | lower }}
sdkman_colour_enable={{ sdkman_colour_enable | lower }}
